[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
coverage = "*"

[packages]
flask = "*"
gunicorn = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
